/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@100;300&family=Splash&display=swap');

/* common css */
body{
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* banner section css  */
.container{
    background-color: #161616;
    width: 1321px;
    border-radius: 30px;
    height: 646px;
    margin-bottom: 80px;
}

.banner-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 100px;
}

.section-title{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 0px;
    padding-top: 40px;
}
.banner-author{
    color: #fff;
    font-size: 16px;
}
.banner-btn{
    padding-top: 30px;
}
.btn{
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    transition: .5s ease-in;
}
.btn:hover{
    background-color: #E8E8E8;
    color: #000;
}
/* Match CSS Start  */
.matches{
    width: 1321px;
    margin-bottom: 50px;
}
.match{
    display: flex;
    grid-column-gap:30px;
}
.match-menu{
    background: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}

.menubar ul {
    text-align: center;
}
.menubar ul li{
    list-style: none;
    text-align: center;
    margin: 10px 0;
}
.btnn {
	background-color: #fff;
	text-align: center;
	border-radius: 5px;
	display: block;
	margin: 10px;
	text-align: center;
	padding: 20px;
	margin:20px ;
}

#btns{
    background-color: red;
    
}
#cl{
    color: #fff;
}
.menubar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #161616;
    text-align: center;
    padding-top: 200px;
    
}



.match-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
}

.match-img img{
    width: 100%;
    border-top-right-radius: 4px;
}
.match-summery{  
    box-shadow: 0px 1px  1px 1px#888888;
    border-radius: 4px;
    margin-bottom: 30px;
}
.match-content{
    margin-top:10px ;
    margin-left: 15px;
}
.match-summery-btn a{
    text-decoration: none;
    font-size: 14px;
    border: 1px solid;
    padding: 4px ;
    color: #161616;
}
.match-summery-txt h3{
    font-size: 16px;
}
.match-icn i{
    color: #161616;
    margin-bottom: 20px;
}
.msg{
    margin-left: 20px;
}
.dis-btn{
    display: none;
}
/* Match CSS End  */
/* Footer CSS */

.ftr{
    background: #161616;
}

.ftr-title h2{
    padding-top: 80px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.ftr-menu{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}
.ftr-menubar ul li{
    display: inline;
    list-style: none;
    text-align: center;
}
.ftr-menubar ul li a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px ;
    color: #B9B9B9;
}

.social-icon{
    padding-top: 8px;
    text-align: center;
}
.social-icon ul li{
    display: inline;
    list-style: none;
}
.social-icon ul li a{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 0px 10px ;
    color: #B9B9B9;
}

/* Footer CSS */


/* Media Queary Start  */


@media only screen and (min-width: 668px) and (max-width:992px){ 
    /* banner section css  */
    .container {
        width: 900px;
        margin-bottom: 30px;
    }

    .section-title {
        font-size: 40px;
        line-height: 60px;
    }
    .banner-btn {
        padding-top: 60px;
    }

    /* banner section css  end*/
    /* match css start  */
    
    .match {
        display: block;
        grid-column-gap: 30px;
    }
    .matches {
        width: 100%;
    }
    .menubar ul {
        text-align: center;
        display: inline-flex;
    }
    .menubar ul li {
        padding-left: 30px;
    }
    .match-menu {
        background: #fff;
        width: 100%;
        height: auto;
        align-items: center;
        border-radius: 10px;
    }
    .btnn {
        border: 1px solid #E8E8E8;
    }
  

  .match-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:30px;
}

.disp{
    display: none;
}
.dis-btn{
    text-align: center;
    width: 100%;
    display:block;
}
.dis-btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    text-align: center;
    color: #fff;
}
/* match css end  */
/* footer css start  */
.ftr-title h2 {
    padding-top: 40px;
    padding-bottom: 0;
}

}

/* Mobile Media Query */

@media only screen and (max-width:668px){
   
/* banner section css  */


    .container{
        width: 100%;
    }
    .banner-content{
        display: block;
        padding: 0px;
    }
    .section-title {
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
    .banner-author {
        padding: 3px 90px;
        font-size: 12px;
    }
    .section-title {
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .banner-btn {
        padding-top: 10px;
        margin-left: 110px;
    }
/* banner section end  */
/* match css start  */
    .match {
        display: block;
        grid-column-gap: 30px;
    }
    .matches {
        width: 100%;
    }
    .menubar ul {
        text-align: center;
        display: inline-flex;
    }
    .menubar ul li {
        padding-left: 30px;
    }
    .match-menu {
        background: #fff;
        width: 100%;
        height: auto;
        align-items: center;
        border-radius: 10px;
    }
    nav.menubar {
        padding: 0;
        margin: 0;
        width: 80%;
    }
    .menubar ul li {
        padding-left: 0px;
    }
    .btnn {
        padding: 10px;
        margin: 20px;
        border: 1px solid;
    }


    .player img {
        width: 100%;
        height: 400px;
    }
    .menubar ul {
        text-align: center;
        display: inline;
    }

    .match-contents {
        display: block;
        width: 100%;
    }
    .disp{
        display: none;
    }

/* match css End  */
/* footer css start  */

    .ftr{
        width: 100%;
    }
    .ftr-title h2 {
        padding-top: 20px;
        padding-bottom: 0px;
        font-size: 30px;
    }
    .ftr-menu {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .ftr-menubar ul li {
        display: block;
        margin: 20px;
    }
    /* footer css End  */
}

/* Media Queary End  */